* {
    margin: 0;
    padding: 0;
}

.fundo {
    text-align: center;
    background-image: linear-gradient(45deg, black, crimson);
    height: 100rem;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.calculadora {
    position: absolute;
    margin: 3px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
}

.botão:hover {
    background-color: #000;
}

.botão {
    width: 90px;
    height: 90px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: #fff;
}

#resultado {
    background-color: rgba(red, green, blue, alpha);
    width: 360px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    font-size: 50px;
    color: #fff;
    text-align: right;
}